@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
nav{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    font-size: 3rem;
    font-weight: 500;
    padding: 0 0 0 30px;
}
nav .logo span{
    color: orangered;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: #1b1b1bc8;
    width: 100%;
    height: 100vh;
    left: 100%;
    transition: all .5s ease;
    z-index: 100;
}
nav.active ul{
    left: 0;
}
nav ul li{
    list-style: none;
    margin: 20px 0;
}
nav ul li a{
    font-size: 3rem;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: 2px;
    transition: all .5s ease;
    position: relative;
}
nav ul li a:hover{
    color: cyan;
    letter-spacing: 4px;
}
nav ul li a::after{
    position: absolute;
    content: attr(data-after);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    font-size: 12rem;
    transition: all .5s ease;
    letter-spacing: 500px;
    font-weight: 900;
    z-index: -1;
}
nav ul li a:hover:after{
    transform: translate(-50% , -50%) scale(1);
    letter-spacing: initial;
    color: rgba(128, 128, 128, 0.725);
}
.hamburger{
    width: 60px;
    height: 60px;
    margin-right: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
}
.hamburger.active::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border: 3px  solid rgb(130, 130, 130);
    border-radius: 50%;
    animation: plus 1s ease infinite;
}
@keyframes plus {
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
.hambar{
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 30px;
    position: relative;
    transition: all .5s ease
}
.hambar::after , .hambar::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: orangered;
    transition: all .5s ease;
    border-radius: 30px;
}
.hambar::after{
    top: 10px;
}
.hambar::before{
    top: -10px;
}
.hamburger.active .hambar::after{
    transform: rotate(135deg);
    top: 0;
}
.hamburger.active .hambar::before{
    transform: rotate(-135deg);
    top: 0;
}
.hamburger.active .hambar{
   background-color: transparent;
}
/* hero */
#hero{
    height: 100vh;
    background-image: url(/pexels-photo-2422278.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_hero{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat' , 'sans-serif';
    color: #fff;
}
.main_hero h2{
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Montserrat' , 'sans-serif';
}
.main_hero h1{
    font-size: 7.2rem;
    font-weight: 800;
    text-align: center;
    width: 80vw;
    padding: 20px 0;
}
.main_hero h3{
    font-size: 3.5rem;
    font-weight: 600;
    padding: 0 0 70px 0;
    text-align: center;
}
.hero_buttons a{
    font-size: 1.3rem;
    padding: 2rem 4rem;
    margin: 20px 30px;
    border-radius: 30px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all .5s ease;
}
.hero_buttons a:first-child{
    color: #fff;
    background-color: rgb(0, 251, 142);
}
.hero_buttons a:first-child:hover{
    color: #000;
    background-color: rgb(223, 223, 16);
}
.hero_buttons a:last-child{
    color: #000;
    background-color: rgb(223, 223, 16);
}
.hero_buttons a:last-child:hover{
    color: #fff;
    background-color: rgb(0, 251, 142);
}
/* About Us */
#aboutus{
    height: fit-content;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutus{
    width: 85vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-caret-right{
    color: rgb(255, 213, 0);
    font-size: 2.5rem;
    padding: 10px ;
}
.aboutus_text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}
.aboutus h3{
    font-size: 2rem;
    font-weight: 400;
    color: rgb(0, 251, 142);
    text-align: center;
}
.aboutus h1{
    font-size: 4.5rem;
    padding: 30px 0;
    text-align: left;
}
.aboutus p{
    font-size: 1.6rem;
    text-align: left;
    padding-bottom: 30px;
    line-height: 30px;
}
.aboutus h2{
    font-size: 1.9rem;
    font-weight: 300;
    text-align: center;
}
.arrowtext{
    display: flex;
    align-items: center;
}
.at2{
   padding-bottom: 50px;
}
.aboutus a{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 2rem 4rem;
    text-align: center;
    background-color: rgb(0, 251, 142);
    border-radius: 30px;
    color: #fff;
    transition: all .5s ease;
}
.aboutus a:hover{
    background-color:rgb(255, 213, 0) ;
    color: #000;
}
.aboutus_img{
    width: 50%;
    height: 110vh;
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/feab4c40117752ce8dba3d32/pexels-photo-389819.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1.5%;
}
/* Services */
#services{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}
.services{
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicesbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.textservices{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
.textservices h2{
    font-weight: 400;
    color: rgb(0, 251, 142);
    font-size: 2.2rem;
    text-align: center;
}
.textservices h1{
    font-size: 5rem;
    text-align: center;
    padding: 20px 0 30px 0;
}

.sbox{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}
.sbox img{
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
}
.sbox h1{
    font-size: 2.3rem;
    text-align: center;
    padding: 20px 0;
}
.sbox p{
    font-size: 1.6rem;
    text-align: center;
    line-height: 23px;
}
.sbox4 h1 , .sbox4 p{
    color: #fff;
}
.sbox1{
    background-color: rgb(255, 213, 0);
}
.sbox4{
    background-color: rgb(0, 251, 142);
}
.sbox3 , .sbox4{
    margin: 20px 0;
}
.readme{
    font-size: 1.4rem;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 2rem 4rem;
    text-align: center;
    background-color:rgb(255, 213, 0) ;
    border-radius: 30px;
    color: #000;
    transition: all .5s ease;
}
.readme:hover{
    background-color: rgb(0, 251, 142);
    color: #fff;
}
/* Sponsers */
#sponsers{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    background-color: #293330;
    color: #fff;
}
.sponsers{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponsertext{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
}
.sponsertext h1{
    font-size: 5rem;
    text-align: left;
}
.sponsertext p{
    padding: 20px 0 40px 0;
    font-size: 1.6rem;
    line-height: 30px;
    text-align: left;
}
.sponsertext a{
    font-size: 1.4rem;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 2rem 4rem;
    text-align: center;
    background-color: rgb(0, 251, 142);
    color: #fff;
    border-radius: 30px;
    transition: all .5s ease;
}
.sponsertext a:hover{
    background-color:rgb(255, 213, 0) ;
    color: #000;
}
.sponserimg{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sponserimg img{
    width: 17vw;
    margin: 30px 0;
}
/* Stats */
#stats{
    height: fit-content;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stats{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 90%;
}
.S_aboutus{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 30px 0 0;
}
.S_aboutus h3{
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: left;
    color:rgb(0, 251, 142) ;
    font-weight: 400;
}
.S_aboutus h1{
    font-size: 4vw;
    font-weight: 700;
    text-align: left;
    padding: 20px 0;
}
.S_aboutus h2{
    font-size: 2.4rem;
    font-weight: 400;

}
.S_stats{
    width: 50%;
}
.S_stats h5{
    font-size: 1.8rem;
    line-height: 2.9rem;
    font-weight: 400;
    text-align: left;
}
.statbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}
.stat1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
}
.stat1 h1{
    font-size: 7.2rem;
    font-weight: 700;
    color: rgb(0, 251, 142);
}
.stat1 p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-align: center;
}
@media screen and (max-width:1000px){
    .sponserimg img{
        width: 27vw;
    }
    .sponsertext{
        width: 50vw;
        padding: 20px;
    }
    .stats{
        width: 80%;
    }
}
@media screen and (max-width:900px) {
    .main_hero h1{
        font-size: 4.5rem;
        width: auto;
        padding: 20px 10px;
    }
    .main_hero h3{
        font-size: 2rem;
        padding: 0 20px 40px 20px;
    }
    .aboutus h1{
        font-size: 3.5rem;
    }
    .aboutus p{
        font-size: 1.4rem;
    }
    .aboutus{
        width: 80vw;
    }
    .arrowtext h2{
        font-size: 1.6rem;
    }
    .sbox{
        width: 100%;
    }
    .stat1 h1{
        font-size: 7vw;
    }
}
@media screen and (max-width:750px){
    .aboutus{
        flex-direction: column;
        width: 90vw;
    }
    .aboutus_text{
        width: 80%;
    }
    .aboutus_img{
        width: 80%;
        height: 80vh;
    }
    .textservices{
        width: 100%;
    }
    .textservices h1{
        font-size: 4rem;
    }
    .sponsers{
        flex-direction: column;
    }
    .sponsertext{
        width: 90vw;
        margin: 30px 0;
    }
    .sponserimg img {
        width: 35vw;
    }
    .stats{
        flex-direction: column;
        align-items: center;
    }
    .S_aboutus{
        width: 100%;
        margin: 30px 0;
    }
    .S_aboutus h1{
        font-size: 5vw;
    }
    .S_stats{
        margin-top: 40px;
        width: 100%;
    }
    .stat1 h1{
        font-size: 10vw;
    }
}
@media screen and (max-width:500px) {
    .hero_buttons{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main_hero h1{
        font-size: 3.5rem;
    }
    .aboutus h1 {
        font-size: 8vw;
    }
    .arrowtext h2{
        text-align: left;
    }
    .aboutus_text{
        width: 85%;
        padding: 20px 0;
    }
    .aboutus_img{
        width: 85%;
        height: 60vh;
    }
    .services {
        width: 80vw;
    }
    .textservices h1{
        font-size: 3rem;
    }
    .sponsertext h1 {
        font-size: 9vw;
    }
    .stats{
        width: 90%;
    }
    .statbox{
        flex-direction: column;
        margin-top: 20px;
    }
    .stat1{
        width: 100%;
        margin: 20px 0;
    }
    .S_aboutus h1{
        font-size: 8vw;
    }
    .stat1 h1{
        font-size: 5rem;
        padding-bottom: 20px;
    }
}
@media screen and (max-width:350px){

}

